{% extends "base.html" %}

{% block title %}Blog Home - My Django Blog{% endblock %}

{% block extra_css %}
<style>
    .header_title {
        font-size: 2.5em;
        color: #000000;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .aboutus {
        text-align: center;
        margin-bottom: 50px;
    }
    
    /* Responsive buttons */
    @media (max-width: 768px) {
        .aboutus a {
            display: block;
            margin: 10px 0;
        }
    }
</style>
{% endblock %}
{% block content %}
<header>
    <h1 class="header_title">
        {{title}}
    </h1>
    <div class="aboutus">
        <a href="{% url 'post_list' %}" class="btn btn-primary">📚 View All Blog Posts</a>
        <a href="{% url 'post_create' %}" class="btn btn-success" style="margin-left: 10px;">✍️ Write Your First Post</a>
        <a href="{% url 'about_page' %}" class="btn btn-info" style="margin-left: 10px;">ℹ️ About Us</a>
    </div>
</header>
{% endblock  %}